@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Steinbeck";
  font-display: swap;
  src: url("../fonts/Steinbeck Regular.woff") format("woff"), url("../fonts/Steinbeck Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Steinbeck;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main__content {
  position: relative;
  z-index: 2;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 30px 0;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 38px;
  height: 40px;
  background: url("../img/play.svg") 0 0/100% 100% no-repeat;
}

.play-icon.active {
  background: url("../img/stop.svg") 0 0/100% 100% no-repeat;
}

.images__mobile {
  display: none;
  position: relative;
}

.back__img-mobile {
  position: relative;
}

.main__img-mobile {
  position: absolute;
}

.back__img-mobile img,
.main__img-mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.back__img,
.main__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
      -ms-transform: translate(-50%, -25px);
          transform: translate(-50%, -25px);
  width: calc(100% + 100px);
  height: calc(100% + 50px);
}

.back__img img,
.main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__title {
  font-size: 62px;
  line-height: 56px;
  color: #ffffff;
  max-width: 208px;
  position: relative;
  z-index: 3;
  padding: 0 30px;
}

.content__links {
  position: relative;
  z-index: 3;
  padding: 0 30px;
}

.content__link {
  font-size: 26px;
  line-height: 44px;
  text-align: right;
  color: #ffffff;
}

.content__link a {
  color: #ffffff;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  display: block;
}

.content__link a:hover {
  color: #f5b7ae;
}

.content__subtitle {
  font-size: 26px;
  line-height: 44px;
  color: #ffffff;
  position: relative;
  z-index: 3;
  padding: 0 30px;
}

audio {
  display: none;
}

@media (max-width: 768px) {
  .main {
    background-color: #222222;
  }

  .content {
    padding: 0 0 30px 0;
    display: block;
  }

  .play-icon {
    top: 50%;
  }

  .images__mobile {
    display: block;
    overflow: hidden;
    margin: -10% 0 -10% -10%;
    width: 120%;
  }

  .back__img-mobile,
  .main__img-mobile {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .back__img,
  .main__img {
    display: none;
  }

  .content__top {
    position: relative;
    display: block;
    background-color: #222222;
    z-index: 3;
    padding: 30px 0;
  }

  .content__title {
    text-align: center;
    font-size: 50px;
    line-height: 48px;
    max-width: none;
    max-width: 410px;
    margin: 0 auto;
  }

  .content__links {
    background-color: #222222;
  }

  .content__link {
    text-align: left;
    font-size: 22px;
    line-height: 45px;
    border-top: 2px solid #ffffff;
    position: relative;
    padding: 5px 0 3px 10px;
  }

  .content__link:after {
    content: "→";
    position: absolute;
    right: 0;
    top: 6px;
    width: 35px;
    height: 10px;
    color: #ffffff;
  }

  .content__link a:hover {
    color: #ffffff;
  }

  .content__subtitle {
    max-width: 410px;
    margin: 0 auto;
  }
}

@media (max-width: 470px) {
  .images__mobile {
    margin: -10% 0 -12.5% -12.5%;
    width: 125%;
  }
}

@media (max-width: 410px) {
  .content__title {
    font-size: 41px;
    line-height: 39px;
    text-align: left;
    padding: 0 15px;
  }

  .content__links {
    padding: 0 15px;
  }

  .content__subtitle {
    padding: 0 15px;
  }
}